{% extends 'crowdfounding/base.html' %}

{% block content %}
<h1 class="my-5 text-3xl font-bold  text-green-500">Contribuer pour {{ project.title }}</h1>
<form method="post" class="space-y-4">
    {% csrf_token %}
    <form  method="post">
        <p class="text-xl font-bold text-red-800">{{error}}</p>
        <label for="contribution">Montant</label>
        <div class="bg-white p-4 rounded-lg">
            <div class="relative bg-inherit">
                <input type="number" id="" name="contribution" class="peer bg-transparent h-10 w-72 rounded-lg text-black placeholder-transparent ring-2 px-2 ring-green-500 focus:green-500 focus:outline-none focus:border-rose-600" placeholder="Contribution"/><label for="contribution" class="absolute cursor-text left-0 -top-3 text-sm text-black bg-inherit mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-green-500 peer-focus:text-sm transition-all">Contribution</label>
            </div>
        </div>
        <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">Contribuer</button>
    </form>
    
</form>
{% endblock %}